/* 首页顶部banner区域 */
#home_top {
    max-width: 1500px;
    width: 100%;
    margin-top: .5rem;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    #home_top {
      padding: 0;
      margin-top: 0;
    }
  
  
  }
/* 主页哔哔bb */
#bber-talk {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
  }
  
  #bbtalk {
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  #bber-talk .li-style {
    width: 100%;
    height: 28px;
    text-align: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
  }
  
  #bbTimeList .li-style:hover {
    color: var(--heo-theme);
    transition: 0.3s;
  }
  
  ul,
  li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  #bbTimeList {
    background: var(--card-bg);
    color: var(--fontcolor);
    padding: 0.6rem 1rem 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: var(--card-box-shadow);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  #bbTimeList:hover {
    box-shadow: var(--card-hover-box-shadow);
  }
  
  @media screen and (min-width: 1300px) {
    #bbTimeList {
      margin-bottom: 1rem;
    }
  }
  
  /* 哔哔前往 */
  .bber-gotobb {
    line-height: 25px;
    margin-left: 8px;
    transition: 0.3s;
  }
  
  .bber-gotobb:hover {
    opacity: 0.8;
    color: var(--heo-theme);
  }
  
  /* 哔哔标志 */
  .icon-bblogo {
    font-size: 2rem;
    font-size: 2rem;
    line-height: 22px;
    margin-right: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .icon-bblogo:hover {
    opacity: 0.8;
    color: var(--heo-theme);
  }
  